In [2]:
file = open('actors.csv', 'r')
data = file.read()
data = data.replace('"Robert Downey, Jr."','Robert Downey Jr.')
data = data.replace('\n',',')

In [3]:
data = data.split(',')
data

['Actor',
 'Total Gross',
 'Number of Movies',
 'Average per Movie',
 '#1 Movie',
 'Gross',
 'Harrison Ford',
 '4871.70 ',
 '41',
 '118.80 ',
 'Star Wars: The Force Awakens',
 '936.70 ',
 'Samuel L. Jackson',
 '4772.80 ',
 '69',
 '69.20 ',
 'The Avengers',
 '623.40 ',
 'Morgan Freeman',
 '4468.30 ',
 '61',
 '73.30 ',
 'The Dark Knight',
 '534.90 ',
 'Tom Hanks',
 '4340.80 ',
 '44',
 '98.70 ',
 'Toy Story 3',
 '415.00 ',
 'Robert Downey Jr.',
 '3947.30 ',
 '53',
 '74.50 ',
 'The Avengers',
 '623.40 ',
 'Eddie Murphy',
 '3810.40 ',
 '38',
 '100.30 ',
 'Shrek 2',
 '441.20 ',
 'Tom Cruise',
 '3587.20 ',
 '36',
 '99.60 ',
 'War of the Worlds',
 '234.30 ',
 'Johnny Depp',
 '3368.60 ',
 '45',
 '74.90 ',
 "Dead Man's Chest",
 '423.30 ',
 'Michael Caine',
 '3351.50 ',
 '58',
 '57.80 ',
 'The Dark Knight',
 '534.90 ',
 'Scarlett Johansson',
 '3341.20 ',
 '37',
 '90.30 ',
 'The Avengers',
 '623.40 ',
 'Gary Oldman',
 '3294.00 ',
 '38',
 '86.70',
 'The Dark Knight',
 '534.90 ',
 'Robin Williams',
 '3279.30 ',
 '49',
 '66.90 ',
 'Night at the Museum',
 '250.90 ',
 'Bruce Willis',
 '3189.40 ',
 '60',
 '53.20 ',
 'Sixth Sense',
 '293.50 ',
 'Stellan Skarsgard',
 '3175.00 ',
 '43',
 '73.80 ',
 'The Avengers',
 '623.40 ',
 'Anthony Daniels',
 '3162.90 ',
 '7',
 '451.80 ',
 'Star Wars: The Force Awakens',
 '936.70 ',
 'Ian McKellen',
 '3150.40 ',
 '31',
 '101.60 ',
 'Return of the King',
 '377.80 ',
 'Will Smith',
 '3149.10 ',
 '24',
 '131.20 ',
 'Independence Day',
 '306.20 ',
 'Stanley Tucci',
 '3123.90 ',
 '50',
 '62.50 ',
 'Catching Fire',
 '424.70 ',
 'Matt Damon',
 '3107.30 ',
 '39',
 '79.70 ',
 'The Martian',
 '228.40 ',
 'Robert DeNiro',
 '3081.30 ',
 '79',
 '39.00 ',
 'Meet the Fockers',
 '279.30 ',
 'Cameron Diaz',
 '3031.70 ',
 '34',
 '89.20 ',
 'Shrek 2',
 '441.20 ',
 'Liam Neeson',
 '2942.70 ',
 '63',
 '46.70 ',
 'The Phantom Menace',
 '474.50 ',
 'Andy Serkis',
 '2890.60 ',
 '23',
 '125.70 ',
 'Star Wars: The Force Awakens',
 '936.70 ',
 'Don Cheadle',
 '2885.40 ',
 '34',
 '84.90 ',
 'Avengers: Age of Ultron',
 '459.00 ',
 'Ben Stiller',
 '2827.00 ',
 '37',
 '76.40 ',
 'Meet the Fockers',
 '279.30 ',
 'Helena Bonham Carter',
 '2822.00 ',
 '36',
 '78.40 ',
 'Harry Potter / Deathly Hallows (P2)',
 '381.00 ',
 'Orlando Bloom',
 '2815.80 ',
 '17',
 '165.60 ',
 "Dead Man's Chest",
 '423.30 ',
 'Woody Harrelson',
 '2815.80 ',
 '50',
 '56.30 ',
 'Catching Fire',
 '424.70 ',
 'Cate Blanchett',
 '2802.60 ',
 '39',
 '71.90 ',
 'Return of the King',
 '377.80 ',
 'Julia Roberts',
 '2735.30 ',
 '42',
 '65.10 ',
 "Ocean's Eleven",
 '183.40 ',
 'Elizabeth Banks',
 '2726.30 ',
 '35',
 '77.90 ',
 'Catching Fire',
 '424.70 ',
 'Ralph Fiennes',
 '2715.30 ',
 '36',
 '75.40 ',
 'Harry Potter / Deathly Hallows (P2)',
 '381.00 ',
 'Emma Watson',
 '2681.90 ',
 '17',
 '157.80 ',
 'Harry Potter / Deathly Hallows (P2)',
 '381.00 ',
 'Tommy Lee Jones',
 '2681.30 ',
 '46',
 '58.30 ',
 'Men in Black',
 '250.70 ',
 'Brad Pitt',
 '2680.90 ',
 '40',
 '67.00 ',
 'World War Z',
 '202.40 ',
 'Adam Sandler',
 '2661.00 ',
 '32',
 '83.20 ',
 'Hotel Transylvania 2',
 '169.70 ',
 'Daniel Radcliffe',
 '2634.40 ',
 '17',
 '155.00 ',
 'Harry Potter / Deathly Hallows (P2)',
 '381.00 ',
 'Jonah Hill',
 '2605.10 ',
 '29',
 '89.80 ',
 'The LEGO Movie',
 '257.80 ',
 'Owen Wilson',
 '2602.30 ',
 '39',
 '66.70 ',
 'Night at the Museum',
 '250.90 ',
 'Idris Elba',
 '2580.60 ',
 '26',
 '99.30 ',
 'Avengers: Age of Ultron',
 '459.00 ',
 'Bradley Cooper',
 '2557.70 ',
 '25',
 '102.30 ',
 'American Sniper',
 '350.10 ',
 'Mark Wahlberg',
 '2549.80 ',
 '36',
 '70.80 ',
 'Transformers 4',
 '245.40 ',
 'Jim Carrey',
 '2545.20 ',
 '27',
 '94.30 ',
 'The Grinch',
 '260.00 ',
 'Dustin Hoffman',
 '2522.10 ',
 '43',
 '58.70 ',
 'Meet the Fockers',
 '279.30 ',
 'Leonardo DiCaprio',
 '2518.30 ',
 '25',
 '100.70 ',
 'Titanic',
 '658.70 ',
 'Jeremy Renner',
 '2500.30 ',
 '21',
 '119.10 ',
 'The Avengers',
 '623.40 ',
 'Philip Seymour Hoffman',
 '2463.70 ',
 '40',
 '61.60 ',
 'Catching Fire',
 '424.70 ',
 'Sandra Bullock',
 '2462.60 ',
 '35',
 '70.40 ',
 'Minions',
 '336.00 ',
 'Chris Evans',
 '2457.80 ',
 '23',
 '106.90 ',
 'The Avengers',
 '623.40 ',
 'Anne Hathaway',
 '2416.50 ',
 '25',
 '96.70 ',
 'The Dark Knight Rises',
 '448.10 ']

In [4]:
head = data[0:6]
del data[:6]

In [5]:
class Actor:
    def __init__(self, actor, total_gross, n_movies, avg_per_movie, n1_movie, gross):
        self.actor = actor
        self.total_gross = float(total_gross)
        self.n_movies = int(n_movies)
        self.avg_per_movie = float(avg_per_movie)
        self.n1_movie = n1_movie
        self.gross = float(gross)

In [6]:
len(data)

300

In [7]:
actors = []
for i in range(0,len(data),6):
    actors.append(Actor(data[i],data[i+1], data[i+2], data[i+3],data[i+4], data[i+5]))

In [8]:
len(actors)

50

### 1. O ator/atriz com maior número de filmes e o respectivo número de filmes.

In [9]:
def maior_n_filmes(actors):
    aux = 0
    index = 0
    for i in range(len(actors)):
        if actors[i].n_movies > aux:
            aux = actors[i].n_movies
            index = i
    return index

In [10]:
index = maior_n_filmes(actors)
index

19

In [11]:
file = open('resultados/desafio01.txt', 'w+')

In [12]:
header = (f'{head[0] :<20} | {head[2] :<20}\n')
content = (f'{actors[index].actor :<20} | {actors[index].n_movies :<20}')

In [13]:
file.writelines(header)
file.writelines(content)
file.close()

### 2. A média do número de filmes por ator.

In [14]:
def media_filmes(actors):
    list = []
    for i in range(len(actors)):
        list.append(actors[i].n_movies)
    media = sum(list)/len(list)
    return media

In [15]:
media = media_filmes(actors)

In [16]:
file = open('resultados/desafio02.txt', 'w+')
texto = (f'A média do número de filmes por ator é {media}')
file.writelines(texto)
file.close()

### 3. O ator/atriz com a maior média por filme.

In [17]:
def maior_avg_per_movie(actors):
    aux = 0
    index = 0 
    for i in range(len(actors)):
        if actors[i].avg_per_movie > aux:
            aux = actors[i].avg_per_movie
            index = i
    return index

In [18]:
index = maior_avg_per_movie(actors)
index

14

In [19]:
print(f'{head[0] :<20} | {head[3]}')
print(f'{actors[index].actor :<20} | {actors[index].avg_per_movie :<5}')

Actor                | Average per Movie
Anthony Daniels      | 451.8

In [20]:
file = open('resultados/desafio03.txt', 'w+')
header = (f'{head[0] :<20} | {head[3]}\n')
content =(f'{actors[index].actor :<20} | {actors[index].avg_per_movie :<5}')
file.writelines(header)
file.writelines(content)
file.close()

### 4. O nome do(s) filme(s) mais frequente(s) e sua respectiva frequência.

In [21]:
def most_freq_movies(actors):
    lista = []
    res = []
    freq = []
    output = []
    for i in range(len(actors)):
        lista.append(actors[i].n1_movie)
    
    lista.sort()
    
    for i in range(len(lista)):
        if lista[i] not in res:
            res.append(lista[i])
    
    for i in range(len(res)):
        freq.append(lista.count(res[i]))
        
    output.append(res[freq.index(max(freq))])
    output.append(max(freq))
    return output

In [22]:
resultado = most_freq_movies(actors)

In [23]:
print(f'{head[4]:<20} | Frequency')
print(f'{resultado[0]:<20} | {resultado[1] :<5}')

#1 Movie             | Frequency
The Avengers         | 6

In [24]:
file = open('resultados/desafio04.txt', 'w+')
header = (f'{head[4]:<20} | Frequency\n')
content = (f'{resultado[0]:<20} | {resultado[1] :<5}')
file.writelines(header)
file.writelines(content)
file.close()

### 5. O Ator que foi mais bem pago.

In [25]:
def maior_total_gross(actors):
    aux = 0
    index = 0 
    for i in range(len(actors)):
        if actors[i].total_gross > aux:
            aux = actors[i].total_gross
            index = i
    return index

In [26]:
index = maior_total_gross(actors)
index

0

In [27]:
print(f'{head[0] :<20} | {head[1]}')
print(f'{actors[index].actor :<20} | {actors[index].total_gross :<5}')

Actor                | Total Gross
Harrison Ford        | 4871.7

In [28]:
file = open('resultados/desafio05.txt', 'w+')
header = (f'{head[0] :<20} | {head[1]}\n')
content = (f'{actors[index].actor :<20} | {actors[index].total_gross :<5}')
file.writelines(header)
file.writelines(content)
file.close()